<style>
    body {
        background: #fff;
        color: #000;
        font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
        font-size: 16px;
        line-height: 28px;
        margin: 0
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    li,
    p {
        margin: 0 0 16px
    }

    h1 {
        font-size: 40px;
        line-height: 60px
    }

    h1,
    h2 {
        font-weight: 700
    }

    h2 {
        font-size: 32px;
        line-height: 48px
    }

    h3 {
        font-size: 24px;
        line-height: 36px
    }

    h3,
    h4 {
        font-weight: 700
    }

    h4 {
        font-size: 20px;
        line-height: 30px
    }

    h5,
    h6 {
        font-size: 16px;
        line-height: 24px;
        font-weight: 700
    }

    a {
        text-decoration: none;
        cursor: pointer;
        color: #000
    }

    a:hover,
    a[rel~=nofollow] {
        text-decoration: underline
    }

    a[rel~=nofollow] {
        color: #008461
    }

    a[rel~=nofollow]:hover {
        text-decoration: none
    }

    .visible {
        display: block
    }

    .hidden {
        display: none
    }

    .page {
        width: 100%
    }

    .container {
        position: relative;
        width: 90%;
        max-width: 1024px;
        margin: 0 auto
    }

    .header {
        color: #000;
        padding: 16px 0;
        margin: 0 0 16px
    }

    .header .title {
        font-size: 24px;
        line-height: 36px;
        font-weight: 700;
        margin: 0
    }

    .translations-list-container {
        padding-bottom: 8px;
        margin: 0 0 16px
    }

    .translations-list-container .translations-list {
        list-style: none;
        margin: 0;
        padding: 0
    }

    .translations-list-container .translations-list .translations-list-item {
        display: inline-block;
        padding: 0;
        margin: 0 8px 8px 0;
        font-weight: 700;
        color: #008461
    }

    .translations-list-container .translations-list .translations-list-item a {
        display: inline-block;
        color: #008461;
        border: 2px solid #008461;
        border-radius: 4px;
        padding: 4px 8px
    }

    .translations-content-container {
        padding-top: 16px;
        border-top: 1px solid #eee
    }

    .footer {
        border-top: 1px solid #eee;
        margin: 32px 0 0;
        padding: 16px 0
    }
</style>
<div class="page">
    <div class="translations-content-container">
        <div class="container">
            <div class="tab-content translations-content-item en visible" id="en">
                <h1>Aviso de Privacidad</h1>
                <p>Última actualización: 21 de noviembre de 2023</p>
                <p>Ceramic Pro Esmeralda es responsable del tratamiento de sus datos personales y del uso que se da a los mismos así como de su protección.</p>
                
                <h2>Nos comprometemos con su privacidad.</h2>
                <p>Estamos conscientes de que todos nuestros clientes tienen derecho a la privacidad y a la protección de sus datos personales. Por ello, nos preocupamos por establecer y mantener en vigor controles, medidas y procedimientos que nos permitan proteger los datos personales, con estricto apego a lo dispuesto en la Ley Federal de Protección de Datos Personales en Posesión de los Particulares ("LFPDPPP"), su Reglamento y a la regulación aplicable relativa a la protección de datos.</p>
                
                <h2>Información que podemos obtener de nuestros clientes.</h2>
                <p>La información que podemos obtener de usted depende de la relación que guarda con nosotros, y los datos que podemos solicitar de usted son los siguientes: </p>
                <ul>
                    <li>
                        <p><strong>Datos de identificación:</strong> información que permite diferenciarlo de otros individuos. Estos datos incluyen: nombre completo.</p>
                    </li>
                    <li>
                        <p><strong>Datos de contacto:</strong> información que nos permite mantenernos en contacto con usted. Estos datos podrían incluir su domicilio, correo electrónico, teléfono particular u otro teléfono de contacto, como número celular.</p>
                    </li>
                </ul>
                <h2>Autorización de contacto</h2>
                <p>Ceramic Pro Esmeralda se reserva el derecho de contactarlo a usted y a terceros relacionados con usted por medio de teléfono o medios electrónicos con fines de cumplir con la relación jurídica entre usted y nosotros, así como para hacerle saber información relacionada con sus citas agendas.</p>
 
                <h2>Uso de sus datos personales</h2>
                <p>Ceramic Pro Esmeralda podrá utilizar Datos Personales para los siguientes fines:</p>
                <ul>
                    <li>
                        <p>Creación y administración de la cuenta de los Usuarios en nuestra App; y verificar, validar y confirmar la identidad de los Usuarios y la información proporcionada por los mismos.</p>
                    </li>
                    <li>
                        <p>Proporcionar al Usuario información, comunicaciones y notificaciones sobre nuestra App, nuestros servicios.</p>
                    </li>
                </ul>

                <h2>Conservación de sus datos personales</h2>
                <p>Ceramic Pro Esmeralda conservará sus datos personales solo durante el tiempo que sea necesario para los fines establecidos en esta Política de privacidad. Conservaremos y utilizaremos sus datos personales en la medida necesaria para cumplir con nuestras obligaciones legales (por ejemplo, si debemos conservar sus datos para cumplir con las leyes aplicables), resolver disputas y hacer cumplir nuestros acuerdos y políticas legales.</p>
                <p>Ceramic Pro Esmeralda también conservará los Datos de uso para fines de análisis interno. Los datos de uso generalmente se conservan durante un período de tiempo más corto, excepto cuando estos datos se utilizan para fortalecer la seguridad o mejorar la funcionalidad de nuestro servicio, o cuando estamos legalmente obligados a conservar estos datos durante períodos de tiempo más largos.</p>
                
                <h2>Transferencia de sus datos personales</h2>
                <p>Su información, incluidos los Datos Personales, es procesada en las oficinas operativas de Ceramic Pro Esmeralda y en cualquier otro lugar donde se encuentren las partes involucradas en el procesamiento. Significa que esta información puede transferirse y mantenerse en computadoras ubicadas fuera de Su estado, provincia, país u otra jurisdicción gubernamental donde las leyes de protección de datos pueden diferir de las de Su jurisdicción.</p>
                <p>Su consentimiento a esta Política de Privacidad seguido de su envío de dicha información representa su aceptación de esa transferencia.</p>
                <p>Ceramic Pro Esmeralda tomará todas las medidas razonablemente necesarias para garantizar que Sus datos sean tratados de forma segura y de acuerdo con esta Política de Privacidad y no se realizará ninguna transferencia de Sus Datos Personales a una organización o país a menos que existan controles adecuados establecidos, incluida la seguridad de Sus datos y otra información personal.</p>
                
                
                <h2>Elimina tus datos personales</h2>
                <p>Tiene derecho a eliminar o solicitar que le ayudemos a eliminar los datos personales que hemos recopilado sobre usted.</p>
                <p>Nuestro Servicio puede brindarle la posibilidad de eliminar cierta información sobre Usted desde el Servicio.</p>
                <p>Puede actualizar, modificar o eliminar Su información en cualquier momento iniciando sesión en Su Cuenta, si tiene una, y visitando la sección de configuración de la cuenta que le permite administrar Su información personal. También puede comunicarse con nosotros para solicitar acceso, corregir o eliminar cualquier información personal que nos haya proporcionado.</p>
                <p>Sin embargo, tenga en cuenta que es posible que necesitemos conservar cierta información cuando tengamos una obligación legal o una base legal para hacerlo.</p>

                    

                <h2>Cambios a esta Política de Privacidad</h2>
                <p>Podemos actualizar Nuestra Política de Privacidad de vez en cuando. Le notificaremos cualquier cambio publicando la nueva Política de Privacidad en esta página.</p>
                <p>Le informaremos por correo electrónico y/o un aviso destacado en Nuestro Servicio, antes de que el cambio entre en vigor y actualizaremos la sección "Última actualización". fecha en la parte superior de esta Política de Privacidad.</p>
                <p>Se le recomienda revisar esta Política de Privacidad periódicamente para detectar cualquier cambio. Los cambios a esta Política de Privacidad entran en vigencia cuando se publican en esta página.</p>
                
                    <h2>Contáctenos</h2>
                <p>Si tiene alguna pregunta sobre esta Política de Privacidad, puede contactarnos:</p>
                <ul>
                    <li>
                        <p>Por correo electrónico: support@ceramicproesmeralda.com</p>
                    </li>
                    <li>
                        <p>Visitando esta página de nuestro sitio web: <a href="https://ceramicproesmeralda.com/"
                                rel="external nofollow noopener" target="_blank">https://ceramicproesmeralda.com/</a>
                        </p>
                    </li>
                    <li>
                        <p>Por número de teléfono: +52 55 7424 3959</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <br><br>
</div>