<swal
  *ngIf="mdlConfirmTimeout"
  icon="question"
  title="Usuario Inactivo"
  text="El cancelará la cita"
  confirmButtonText="Usted permaneció mas de 5 minutos inactivo, si necesita mas tiempo de clic en continuar conectado, de lo contrario su sesión terminará y tendrá que iniciar sesión nuevamente."
  [showConfirmButton]="true"
  [showCancelButton]="false"
  [allowEnterKey]="false"
  [allowEnterKey]="false"
  [allowOutsideClick]="false"
  [swalFireOnInit]="true"
  (confirm)="ContinueConnect()">
</swal>

<swal
  *ngIf="mdlProgressShow"
  html="{{mdlProgressHtml}}"
  title="Procesando Información"
  [showConfirmButton]="false"
  [allowEnterKey]="false"
  [allowEnterKey]="false"
  [allowOutsideClick]="false"
  [swalFireOnInit]="true"
  (didClose)="mdlProgressShow = false">
</swal>

<swal
  *ngIf="mdlErrorShow"
  icon="error"
  title="Error"
  text="{{ mdlErrorMessage }}"
  [showConfirmButton]="true"
  [allowEnterKey]="false"
  [allowEnterKey]="false"
  [allowOutsideClick]="false"
  [swalFireOnInit]="true"
  (didClose)="mdlErrorShow = false">
</swal>

<swal
  *ngIf="mdlSuccessShow"
  icon="success"
  title="Correcto"
  text="{{ mdlSuccessMessage }}"
  [showConfirmButton]="true"
  [allowEnterKey]="false"
  [allowEnterKey]="false"
  [allowOutsideClick]="false"
  [swalFireOnInit]="true"
  (confirm)="reload()"
  (didClose)="mdlSuccessShow = false">
</swal>

<swal
  *ngIf="mdlConfirmAccept"
  icon="question"
  title="¿Estas seguro?"
  text="El aceptará la cita"
  confirmButtonText="Confirmar"
  cancelButtonText="Cancelar"
  [showConfirmButton]="true"
  [showCancelButton]="true"
  [allowEnterKey]="false"
  [allowEnterKey]="false"
  [allowOutsideClick]="false"
  [swalFireOnInit]="true"
  (confirm)="Accept()"
  (didClose)="mdlConfirmAccept = false">
</swal>

<swal
  *ngIf="mdlConfirmCancel"
  icon="question"
  title="¿Estas seguro?"
  text="El cancelará la cita"
  confirmButtonText="Confirmar"
  cancelButtonText="Cancelar"
  [showConfirmButton]="true"
  [showCancelButton]="true"
  [allowEnterKey]="false"
  [allowEnterKey]="false"
  [allowOutsideClick]="false"
  [swalFireOnInit]="true"
  (confirm)="Cancel()"
  (didClose)="mdlConfirmCancel = false">
</swal>

<div class="card">
    <div class="card-header">
      <div class="row">
        <div class="col-md-6">
          Lista de citas
        </div>
        <div class="col-md-6 text-end"></div>
      </div>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-bordered table-sm table-hover ">
          <thead>
            <tr>
              <th>Nombre completo</th>
              <th>Cita</th>
              <th>Servicio</th>
              <th>Marca/Modelo</th>
              <th>Registro</th>
              <th>Estatus</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of lst_quotes">
              <td>{{ item.fullName }}</td>
              <td>{{ item.quotesDate }} <br> {{ item.quotesHour }}</td>
              <td>{{ item.serviceDesc }} ({{ item.servicePrice | currency }})</td>
              <td>{{ item.vehicleBrandName }} /<br> {{ item.vehicleModelName }}</td>
              <td class="text-center">{{ item.fhRegister.substring(0,10) }} <br> {{ item.fhRegister.substring(11,19) }}</td>
              <td>{{ item.quotesSTS }}</td>
              <td class="text-center">
                <button *ngIf="item.quotesSTS == 'PENDIENTE'" (click)="ShowConfirmAccept({item})" style="background: transparent; border: 0; padding: 0; margin: 0;">
                  <i class="fa-regular fa-check-circle text-success"></i>
                </button>
                <i *ngIf="item.quotesSTS != 'PENDIENTE'" class="fa-regular fa-check-circle text-deafult"></i>
                &nbsp;
                <button *ngIf="item.quotesSTS == 'PENDIENTE'" (click)="ShowConfirmCancel({item})" style="background: transparent; border: 0; padding: 0; margin: 0;">
                  <i class="fa-solid fa-ban text-danger"></i>
                </button>
                <i *ngIf="item.quotesSTS != 'PENDIENTE'" class="fa-solid fa-ban text-deafult"></i>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>